In [46]:
import pandas as pd
import jsonlines
#1269748302142042113 is last tweet

In [47]:
created_at=[]
id=[]
full_text=[]
coordinates=[]
lang=[]
place=[]
with jsonlines.open('/Users/sam/Documents/Masters/Data_Systems_Project/blm_continued2.jsonl') as reader:
    for obj in reader:
        place.append(obj['place'])
        created_at.append(obj['created_at'])
        id.append(obj['id'])
        full_text.append(obj['full_text'])
        coordinates.append(obj['coordinates'])
        lang.append(obj['lang'])

In [48]:
tweets = pd.DataFrame()
tweets['created_at']= created_at
tweets['id']= id
tweets['text']= full_text
tweets['coordinates']= coordinates
tweets['lang']= lang
tweets['place'] = place

In [50]:
print('length before:', len(tweets))
tweets = tweets[pd.notnull(tweets['place'])]
print('length after:', len(tweets))

length before: 29512
length after: 29512

In [51]:
tweets = tweets.reset_index(drop=True)
tweets['full_name'] = 'None'
tweets['country'] = 'None'
for idx, val in enumerate(tweets['place']):
        tweets['full_name'][idx] = val['full_name']
        tweets['country'][idx] = val['country_code']
#tweets = tweets.drop(columns=['place'])

In [54]:
tweets[['full_name', 'country']].head(10)

               full_name country
2           Georgia, USA      US
3           Portland, OR      US
4        Los Angeles, CA      US
6        San Antonio, TX      US
7   The Waterfront Docks      US
8          Manhattan, NY      US
9        California, USA      US
10          McKinney, TX      US
11       Los Angeles, CA      US
12           Memphis, TN      US

In [53]:
print('length before:', len(tweets))
tweets = tweets[(tweets['country'] == "US")]
print('length after:', len(tweets))

length before: 29512
length after: 16881

In [30]:
print('length before:', len(tweets))
tweets = tweets[pd.notnull(tweets['coordinates'])]
print('length after:', len(tweets))

length before: 7365723
length after: 5208

In [32]:
tweets.to_json(',,,,,.json')