In [5]:
#I am currently at 967838397715726336
#In total there are 41.801.153 tweets
# we still have left 33.817.799
a = len(data)/41801153
print(1-a)


#1265746243378184194 = may 27

0.47859476507741305

In [1]:
import pandas as pd
import numpy as np

In [2]:

data = pd.read_csv('/Users/sam/Documents/Masters/Data_Systems_Project/blm_twitter_corpus-master/blm_tweet_ids.txt', header = None)

In [3]:
data = data[data[0]>1268749894539530242]

In [32]:
data.head()

                            0
11633361  1258365011610738691
11633364  1258365211968507904
11633365  1258365031235887104
11633366  1258365169014575105
11633370  1258365124517203969

In [6]:
np.savetxt(r'/Users/sam/Documents/Masters/Data_Systems_Project/blm_twitter_corpus-master/blm_may.txt', data.values, fmt='%d')

In [ ]:
cat > test.txt

twarc hydrate test.txt > blm_test.jsonl